.grid-container{
	display : grid;
	grid-template-rows : auto auto 100px;
	grid-gap : 20px;
}


/*nav bar */
.nav-bar{
	font-size : 2rem;
	font-family: "Montserrat" , sans-serif;
	text-decoration : none;
}

.main-nav{
	display : flex;
	justify-content: center;
	align-items: center;
}

.main-nav > li{
	list-style: none;
	padding : 20px;
}

li > a{
	text-decoration : none;
	color : #00a5f2;
}

li > a:hover{
	border-bottom: 2px solid;
}

.push-right{
	margin-left : auto;
}

@media only screen and ( min-width: 1000px){
	.push-left{
		margin-right :50px;
	}
}

/* content */
.content{
	display : grid;
	grid-template-columns : repeat( auto-fill, minmax( 450px, 1fr));
	grid-gap : 50px;
}

.profile{
	padding : 20px 0px 20px 30px;
	
}

.profile > img {
	width : 100%;
	border-radius: 50%;
	image-orientation : from-image;
}


.intro{
	font-family: Arial;
	font-size : 1.5rem;
	
}

@media only screen and ( max-width : 600px ){
	.profile{
		width : 100%;
	}
}


/* Footer */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
   border-radius: 50%;
}

.fa-facebook{
  background: #3B5998;
  color: white;

}